<div class="main-content-wrapper sub-contents-title">
  <div class="sub-contents-title-element">
    <h3>Create New Hub</h3>
    <p>会話が始まる。貴方のテーマで。</p>
  </div>
  <div class="new-hub-form">
    <%= form_with model: @hub, local: true do |f|%>
    <div class="form-group">
      <%= f.label :board_id %>
      <%= f.select :board_id, create_select_box %>
    </div>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', id: 'hub_name' %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control', id: 'hub_description' %>
    </div>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit nil, class: 'btn btn-primary hub-btn' %>
    <% end %>
  </div>
</div>
