<div class="board-content-wrapper">
  <h3>掲示板の編集</h3>
  <%= form_with model: @board, local: true do |f|%>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', id: 'board_name' %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control', id: 'board_description' %>
    </div>
    <%= f.submit nil, class: 'btn btn-primary' %>
  <% end %>
</div>
