<div class="board-content-wrapper">
  <h3>掲示板の詳細</h3>
  <table class="table table-hover">
    <tbody>
      <tr>
        <th>ID</th>
        <td><%= @board.id %></td>
      </tr>
      <tr>
        <th>掲示板名</th>
        <td><%= @board.name %></td>
      </tr>
      <tr>
        <th>説明</th>
        <td><%= simple_format(h(@board.description), {}, sanitize: false, wrapper_tag: 'div') %></td>
      </tr>
    </tbody>
  </table>
  <%= link_to '編集', edit_board_path, class: 'btn btn-primary mr-3' %>
  <%= link_to '削除', @board, method: :delete, data: { confirm: "掲示板 「#{@board.name}」 を削除しますか？"}, class: 'btn btn-danger' %>
</div>
